{% extends 'base.html' %}

{%  block content %}

 {% for item in product %}
            {% if item.is_published %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top mx-auto d-block" src="{{ item.photo.url }}" alt="..." style="width: 200px;
    height: 200px;" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ item.name}}</h5>
                                        <h6> {{ item.content }} </h6>
                                        <!-- Product price-->
                                        {{item.price}} грн
                                        {% if item.in_stock %} <form action="{% url 'cart_add' item.id  %}" method="post">
                                          {{ cart_product_form }}
                                          {%csrf_token%}
                                          <input type="submit" value="В корзину"></form>{% endif %}
                                        {{ product.description|linebreaks }}
                                    </div>
                                    <small>{% if item.in_stock %} <p class=" text-success "><em>Є в наявності</em></p>  {% else %} <p class="text-danger col-md-4"><em>Немає в наявності</em></p> {% endif %}</small>
                                </div>
                            </div>
                        </div>
            {% endif %}
 {% endfor %}


{% endblock %}
